/* ------- General ------- */

ul {
    padding: 0;
    margin: 0;
}
ul li {
    list-style: none;
}
.inLine li {
    display: inline;
}
.inLineBlock li {
    display: inline-block;
}

#map {
    height: 80vh;
 }

/* ----- Navbar ------ */
.navbar{
    background-color: #d3dfed;
    margin-bottom: 0;
}

.nav > li > a {
    color: #000000;
}

.navPad {
    height: 92px;
}

#titleNavbar{
    font-size: 25px;
    color: black;
}

#bearPic{
    margin-top: -23%;
    margin-right: 11px;
}

/* ------- Footer -------- */

footer {
    min-height: 100px;
    background-color: #d3dfed;
    padding: 30px 0;
    color: #fff;
}

#facebook{
   color: #3b5999;
   padding: 10px;
}

#twitter{
    color: #00aced;
}

/* -------- Login Form --------------- */

.wrap{
    padding: 30px;
    background: rgba( 0, 0, 0, 0.5 );
    width: 100%;
}
.logon{
    background: url('../partials/images/California-Highway-1.jpg') center center no-repeat;
    background-size: cover;
    height: 500px;
    padding-top: 145px;
    width: 100%;
}


p.form-title{
    font-family: 'Open Sans' , sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 4px;
}

form{
    width: 300px;
    margin: 0 auto;
}

form.login input[type="text"], form.login input[type="password"]{
    width: 100%;
    margin: 10px;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #FFFFFF;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #FFFFFF;
    outline: 0;
}

form.login input[type="submit"]{
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 16px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

.loginbtn{
  width: 100%;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 16px;
  outline: 0;
  cursor: pointer;
  letter-spacing: 1px;
}

form.login .loginbtn input[type="submit"]:hover{
    transition: background-color 0.5s ease;
}

form.login .sign-up-content{
    min-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

form.login label, form.login a{
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
}

form.login a{
    transition: color 0.5s ease;
}

form.login a:hover{
    color: #2ecc71;
}
.signup{
  margin-top: 13px;
}

/* -------- Comment Box ---------- */
.glyphicon-star{
  color: #ffcc00;
}

/* ----------- HomePage ----------- */
.destTitle{
    font-weight: bold;
    font-size: 23px;
 }

.list-group{
    max-height: 450px;
    overflow-y:scroll;
}

#favButton{
    height:25px;
    box-shadow: 0 2px 2px 1px rgba(0,0,0,0.2);
    margin-top: 5px;
}

/* ------------ Destination Form ------- */
.destForm {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 20px;
    top: 20px;
    height: 50px;
    box-shadow: 0 2px 2px 1px rgba(0,0,0,0.2);
}

.form-control{
    margin-bottom: 26px;
}

/* --------- Destination List --------- */
.list-group-item{
    border: none;
    padding: 10px 0px;
}
