<div class="row" id="login-container">
  <div class="logon">
      <div class="col-md-12">
          <div class="wrap form-group">
              <p class="form-title">Login</p>
              <form class="login" ng-submit="login.doLogin()">
                <input type="text" class="form-control" placeholder="Username" ng-model="login.loginData.username"/>
                <input type="password" class="form-control" placeholder="Password" ng-model="login.loginData.password"/>
                <button type="submit" class="btn btn-success btn-sm">
                  <span>Login</span>
                </button>
                <div class="remember-forgot">
                    <div class="col-md-6 sign-up-content">
                        <a ng-href="#/signup" class="forgot-pass">Not currently a user? Sign up.</a>
                    </div>
                </div>
              </form>
          </div>
      </div>
  </div>
<div>
