<nav class="navbar">
  <div class="container-fluid">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="col-md-4">
      <div class="navbar-header">
        <a class="brand" href="#"><img src="partials/images/caBear2.jpg" width=50 alt=""></a>
      </div>
    </div>

    <div class="col-md-4">
      <div class="navbar-left">
        <h3>Visit California!!!</h3>
      </div>
    </div>


    <div class="col-md-4">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav navbar-right">
          <li ng-show="!main.loggedIn"><a href="#/login">Login</a></li>
          <li ng-show="!main.loggedIn"><a href="#/signup">Signup</a></li>
          <li ng-hide="!main.loggedIn" ng-click="main.doLogout()"><a href="#">Logout</a></li>
          <li ng-hide="!main.loggedIn"><a href="#/users"> {{ main.user.username}}'s Profile</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </div><!-- /.container-fluid -->
</nav>
