<div class="row" id="login-container">
  <div class="logon">
      <div class="col-md-8">
          <div class="wrap form-group">
              <p class="form-title">Sign Up</p>
              <form class="login" ng-submit="login.saveUser()">
                <input type="text" class="form-control" placeholder="Username" ng-model="login.loginData.username"/>
                <input type="text" class="form-control" placeholder="Email" ng-model="login.loginData.email"/>
                <input type="password" class="form-control" placeholder="Password" ng-model="login.loginData.password"/>
                <input type="password" class="form-control" placeholder="Confirm Password" ng-model="login.loginData.password"/>
                <input type="number" class="form-control" placeholder="Age" ng-model="login.loginData.age"/>
                <input type="text" class="form-control" placeholder="Enter a short bio here" ng-model="login.loginData.bio"/>
                <input type="text" class="form-control" placeholder="Are you a resident of CA?" ng-model="login.loginData.resident"/>
                <input type="text" class="form-control" placeholder="How many years have you lived in CA?" ng-model="login.loginData.timeInCa"/>
                <input type="text" class="form-control" placeholder="Current City" ng-model="login.loginData.location"/>
                <button type="submit" class="loginbtn btn btn-success btn-sm">
                  Sign up!
                </button>
                <div class="signup">
                    <a ng-href="#/login" class="new-user">Already a user? Log in.</a>
                </div>
              </form>
          </div>
      </div>
  </div>
<div>
