<div class="row" id="login-container">
  <div class="logon">
      <div class="col-md-8">
          <div class="wrap form-group">
              <p class="form-title">Sign Up</p>
              <form class="login" ng-submit="user.saveUser()">
                <input type="text" class="form-control" placeholder="Username" ng-model="user.userData.username"/>
                <input type="text" class="form-control" placeholder="Email" ng-model="user.userData.email"/>
                <input type="password" class="form-control" placeholder="Password" ng-model="user.userData.password"/>
                <input type="text" class="form-control" placeholder="Age" ng-model="user.userData.age"/>
                <input type="text" class="form-control" placeholder="Enter a short bio here" ng-model="user.userData.bio"/>
                Are you a resident of CA?
                <input type="radio" name="resident" value="true" ng-model="user.userData.resident"/>Yes
                <input type="radio" name="resident" value="false" ng-model="user.userData.resident"/>No
                <input ng-show="user.userData.resident == 'true'" type="text" class="form-control" placeholder="How many years have you lived in CA?" ng-model="user.userData.timeInCa"/>
                <input ng-show="user.userData.resident == 'true'" type="text" class="form-control" placeholder="Current City" ng-model="user.userData.location"/>
                <button type="submit" class="loginbtn btn btn-success btn-sm">
                  Sign up!
                </button>
                <div class="signup">
                    <a ng-href="#/login" class="new-user">Already a user? Log in.</a>
                </div>
              </form>
          </div>
      </div>
  </div>
<div>
